html
{
	font-size:625%;
	height: 100%
}
img
{
	max-width:100%;
}
body{
	background-color:rgba(211, 211, 211, 0.17);
	margin:0rem;
	height: 100%;
	position: relative;
}
header{
	width:100%;
	height:0.5rem;
	background-color:rgb(105,209,233);
	display:table;
}
section{
	font-size: 0.12rem;
}
.headline{
	margin: 0.1rem 2%;
	height: 0.35rem;
	background-color: white;
	box-shadow: 0px 2px 1px rgba(136, 136, 136, 0.3);
}
.headline p{
	font-size: 0.18rem;
	text-align: center;
	margin: 0rem;
	line-height: 0.35rem;
}
.distribute{
	margin: 0.1rem 2%;
	font-size: 0.12rem;
	height: 1.8rem;
	background-color: white;
	box-shadow: 0px 2px 1px rgba(136, 136, 136, 0.3);
}
.left{
	float: left;
	width: 50%;
}
.right{
	float: right;
	width: 50%;
}
.empty{
	margin: 0.1rem 2%;
	font-size: 0.12rem;
	height: 0.9rem;
	background-color: white;
	box-shadow: 0px 2px 1px rgba(136, 136, 136, 0.3);
}
.input{
	margin: 0.1rem 2% 0.1rem 2%;
	font-size: 0.12rem;
	padding-top: 0.01rem;
	height: 0.9rem;
	background-color: white;
	box-shadow: 0px 2px 1px rgba(136, 136, 136, 0.3);
}
.input p{
	text-align: center;
}
#inputText{
	background-color: rgba(211, 211, 211, 0.7);
	text-align: center;
	width: 0.2rem;
	border:none;
	border-radius: 0.03rem;
	color: orange;
}
.para1{
	font-size: 0.15rem;
	font-weight:600;
}
.para2{
	color: orange;
	font-size:0.12rem;
}
.btton{
	text-align: center;
	font-size: 0.18rem;
	color:white;
	margin-left: 2%;
	background-color: orange;
	width: 96%;
	height: 0.5rem;
}
.bad{
	width: 0.1rem;
	height: 0.1rem;
	margin-left: 0.1rem;
	background-color: red;
	border-radius: 50%;
	display: inline-block;

}
.good{
	width: 0.1rem;
	height: 0.1rem;
	margin-left: 0.1rem;
	background-color: green;
	border-radius: 50%;
	display: inline-block;

}
#overPlay{
	width: 100%;
	height:100%;
	position: absolute;
	top: 0rem;
	left:0rem;
	background-color: lightgrey;
	opacity:0.4;
	filter:alpha(opacity=20);
	display: none;
}
#box{
	font-size: 0.16rem;
	width: 70%;
	height:25%;
	position: absolute;
	border-radius:0.1rem;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
	background-color: white;
	box-shadow: 0rem 0rem 0.5rem #9e9898;
	display: none;
}
#box p{
	text-align: center;
	color:#3f3f94;
	font-weight:600;
	font-size: 0.18rem;
	line-height: 0.9rem;
}
#left{
	line-height: 0.4rem;
	color:#4da2d6;
	width: 49.9%;
	position: absolute;
	bottom: 0rem;
	left:0rem;
	height: 0.4rem;
	float: left;
	border-top:0.001rem solid lightblue;
	text-align: center;
	border-right:0.001rem solid lightblue;
	cursor:pointer

}
#right{
	line-height: 0.4rem;
	color:#4da2d6;
	position: absolute;
	bottom: 0rem;
	right:0rem;
	width: 49.9%;
	height: 0.4rem;
	float: right;
	border-top:0.001rem solid lightblue;
	text-align: center;
	cursor:pointer
}